html{
  scroll-behavior: smooth;
}
main .title-page {
  height: 260px;
  padding: 79px 0px 0px 97px;
}

main .title-page .content-title .title-text h1 {
  padding-top: 19px;
  font-size: 43px;
}

main .title-page .content-title .title-text p {
  padding-top: 19px;
  font-size: 16px;
}

main .title-page .content-title .title-menu {
  text-align: center;
  font-size: 26px;
  margin: 86px 280px 0 180px;
}

main .title-page .content-title .title-menu .menu-options a,
main .title-page .content-title .title-menu .menu-options a:link{
  text-decoration: none;
  color: rgb(255, 255, 255);
}


main .title-page .content-title .title-menu .menu-options a:hover{
  color: #6033a4;
  transition: color 0.3s ease;
}


main .table-tags .table {
  border: 8px solid #6033a4;
  border-radius: 20px;
  margin: 0 280px 100px 280px;
}

main .table-tags .table .tags-title { 
  font-weight: 600;
  font-size: 40px;
}

main .table-tags .table th {
  width: 100%;
  padding: 30px 40px 30px 40px;
}

main .table-tags .table td {
  padding: 30px 40px 30px 40px;
  text-align: center;
  font-weight: 400;
  font-size: 38px;
}

main .table-tags .table tr {
  border-radius: 20px;
}

table {
  overflow: hidden;
  border-collapse: collapse;
  border-radius: 20px;
}

main .table-tags .table thead {
  background-color: #0a0a0b;
  color: white;
}

main .table-tags .table .bc-black {
  background-color: #121214;
}

main .table-tags .table .bc-purple {
  background-color: #18151f;
}

main .table-tags .table .icons-nav {
  overflow: visible;
  transition: transform 0.3s;
}

main .table-tags .table .icons-nav img {
  width: 100px;
  height: 100px;
}

main .table-tags .table .icons-nav:hover {
  transform: scale(1.1);
}

main .table-tags .table .table-js a,
main .table-tags .table .table-js a:link{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

main .table-tags .table .table-js a:hover{
  color: #6033a4;

}

.destaque {
  color: #6033a4;
  transition: color 1.2s ease;
}

.remover {
  color: #fff !important;
  transition: color 0.5s ease;
}
